.grad-1 {background-image: linear-gradient(to right top, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-2 {background-image: linear-gradient(to right, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-3 {background-image: linear-gradient(to right bottom, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-4 {background-image: linear-gradient(to bottom, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-5 {background-image: linear-gradient(to top, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-6 {background-image: linear-gradient(to left bottom, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-7 {background-image: linear-gradient(to left, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}

.grad-8 {background-image: linear-gradient(to left top, #e03f3f, #d06110, #b37d00, #8d9400, #59a627);}



/*-------*/